[run]
omit =
    tests/*
    alembic/*
    __init__.py
    */__pycache__/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
